.header {
    background-color: #ab1235;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.header h2 {
    margin: 0px;
}

::ng-deep .mat-dialog-container {
    min-height: 200px;
    min-width: 300px;
    padding: 0px;
    overflow: hidden;
}

.save {
    color: white !important;
    background-color: #ab1235;
    border: none;
    padding: 0px 10px 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 98px;
}