.container{
    display: flex;
    justify-content: center;
}

.header {
    background-color: #ab1235;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.header h2 {
    margin: 0px;
}

.signup-form {
    position: absolute;
    top: 20%;
    border: 1px solid #ab1235;
    // padding: 20px;
    width: 20%;
}

.signup-form form {
    padding: 5px 20px 20px 20px;
}
  
div.h-100{
    margin-top: 10vh;
}
  
div.tweet {
    margin-top: 20px;
    text-align: right;
}

.form-group{
    display: block;
    margin: 15px 0px 5px 0px;
}

.form-group input {
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid grey;
}

.form-group label {
    font-size: 14px;
    font-weight: 600;
}

.btn-submit {
    color: white;
    background-color: #ab1235;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 87px;
}

.btn-submit:disabled {
    opacity: 0.8;
}

.error-text {
    color: red;
}

.login {
    margin-top: 10px;
    text-align: center;
    a {
        color: #ab1235;
        cursor: pointer;
    }
}
.input-group {
    position: relative;
}

.input-group-append {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-group-append .fa {
    font-size: 18px;
    color: #333;
}
  