.add-employee {
    color: white;
    background-color: #ab1235;
    border: none;
    padding: 0px 10px 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 98px;
}

.icon-color {
    color: #ab1235;
}
