<div class="container">
    <div class="signup-form">
        <div class="header">
            <h2>Change Password</h2>
        </div>
        <form [formGroup]="changePasswordForm">
            <div class="form-group">
                <label for="oldPassword">Old Password <span class="error-text">*</span></label>
                <div class="input-group">
                    <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old Password"> 
                </div>
                <small *ngIf="changePasswordForm.get('oldPassword')?.hasError('pattern')" class="error-text">
                    <!-- Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit. -->
                    Please enter a valid password.
                </small>
                <p class="text-xs error-text">{{errorMessage}}</p>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password <span class="error-text">*</span></label>
                <div class="input-group">
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
                    <div class="input-group-append">
                        <span class="input-group-text" (click)="togglePasswordVisibility()">
                            <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                    </div>
                </div>
                <small *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')" class="error-text">
                    <!-- Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit. -->
                    Please enter a valid password.
                </small>
                <small class="error-text text-xs" *ngIf="isOldNewPasswordMatch">Old and new password should not match</small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password <span class="error-text">*</span></label>
                <div class="input-group">
                    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                            <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </span>
                    </div>
                </div>
                <small *ngIf="changePasswordForm.get('confirmPassword')?.hasError('pattern')" class="error-text">
                    Please enter a valid password.
                </small>
            </div>
            <small *ngIf="changePasswordForm.hasError('passwordMatch')"
            id="email-help" class="form-text error-text">Passwords Don't Match</small>

            <div class="flex justify-between">
                <div class="mt-4 mb-4">
                    <button type="button" class="btn bg-slate-200 px-2 py-0.5 rounded" routerLink="/">Cancel</button>
                </div>
                <div class="mt-4 mb-4">
                    <button type="submit" class="btn btn-primary btn-submit" (click)="onSubmit()" [disabled]="changePasswordForm.invalid">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

